.App {
  text-align: center;
  font-family: Chivo;
  
}

.App-header {
  background-color: #183a37;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

body {
  background-color: #efd6ac;
}